*, *::before, *::after{
    box-sizing: border-box;
}
  body{
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    /* justify-content: center; */
    /* align-items: center; */

}

.container {
    margin-left: 500px;
    width: 900px;
    max-width: 80%;
    height: 400px;
    max-width: 80%;
    /* background-color: red; */
    border-radius: 5px;
    padding: 10px

}

.btn-grid{
    display: grid
}

.controls{
display: flex;
justify-content: center;
align-items: center;
}

.title{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;  
    /* font-size: large; */
}

.hide{
    display: none;
}

.instructions{
    display: flex;
    text-align: center;  
    font-size: large;
}

 div p {
    font-size: 25px;
}

#remove {
font-size: large;
}

.remove{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center; 
}

.btn{
    padding: 25px;
    margin-right: 400px;
} 

#start-btn{
    margin: 50px;
    padding: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    background-color: rgb(21, 21, 90);
}

#question{
    font-size: 40px;
    font-weight: bold;
    font-family: sans-serif;
}
#answer-button{
    margin: 5px;
    padding: 50px;
    justify-content: left;
    
}
.choice{
    margin: 5px;
    color: white;
    border-radius: 5px;
    align-items: left;
    padding: 25px;
    background-color: rgb(21, 21, 90);
    padding-left: 50px;
    padding-right: 50px;
}
/* .hide{
    display: flex;
    justify-content: center;
    align-items: center;
} */
/* .center{
    text-align: center;
}
.center p {
font-size: large;
padding: 20px
} */

html, body{
    height: 100%;
}
.row, .column {
    display: flex;
}

.column {
    flex-direction: column;
}
.justify-content-between {
    justify-content: space-between;
    
}


.align-item-center{
    align-items:center;
}

header.main-header {
    padding: 7px 2%;
    
}

header.main-header nav p{
    text-decoration: none;
}